---
# tasks file for getallsysinven
- name: Get all system Inventory
  community.general.redfish_info:
    category: Systems
    command: all
    baseuri: "{{ _baseuri_ }}"
    username: "{{ _username_ }}"
    password: "{{ _password_ }}"
  register: result_attr
