---
# tasks file for getmnicinven
- name: Get Manager NIC inventory
  community.general.redfish_info:
    category: Manager
    command: GetManagerNicInventory
    baseuri: "{{ _baseuri_ }}"
    username: "{{ _username_ }}"
    password: "{{ _password_ }}"
  register: result_attr
