---
# tasks file for getBootoverride
- name: Get Boot Override information
  community.general.redfish_info:
    category: Systems
    command: GetBootOverride
    baseuri: "{{ _baseuri_ }}"
    username: "{{ _username_ }}"
    password: "{{ _password_ }}"
  register: result_attr
