---
# tasks file for updaterole
- name: Update user role
  community.general.redfish_command:
    category: Accounts
    command: UpdateUserRole
    baseuri: "{{ _baseuri_ }}"
    username: "{{ _username_ }}"
    password: "{{ _password_ }}"
    account_username: "{{ _account_username_ }}"
    roleid: "{{ _roleid_ }}"
