---
# tasks file for getBiosattr
- name: Get BIOS attributes
  community.general.redfish_info:
    category: Systems
    command: GetBiosAttributes
    baseuri: "{{ _baseuri_ }}"
    username: "{{ _username_ }}"
    password: "{{ _password_ }}"
  register: result_attr
