---
# tasks file for getstgctrlinv
- name: Get storage controller inventory
  community.general.redfish_info:
    category: Systems
    command: GetStorageControllerInventory
    baseuri: "{{ _baseuri_ }}"
    username: "{{ _username_ }}"
    password: "{{ _password_ }}"
  register: result_attr
