---
- hosts: myhosts
  connection: local
  name: Update service
  gather_facts: false

  tasks:
    - name: Turn system power off
      community.general.redfish_command:
        category: "Systems"
        command: "PowerForceOff"
        baseuri: "{{ _baseuri_ }}"
        username: "{{ _username_ }}"
        password: "{{ _password_ }}"

    - name: Flashfwpkg
      hpe.ilo.ilo_fwupdate_command:
        category: "UpdateService"
        command: "Flashfwpkg"
        baseuri: "{{ baseuri }}"
        username: "{{ username }}"
        password: "{{ password }}"
        fwpkg_file: "R11_1.10_11_21_2022_SCP_2.10_appended.fwpkg"

    - name: Turn system power on
      community.general.redfish_command:
        category: "Systems"
        command: "PowerOn"
        baseuri: "{{ _baseuri_ }}"
        username: "{{ _username_ }}"
        password: "{{ _password_ }}"

