---
# tasks file for changbiosattr
- name: Set {{ bios_attr }}
  community.general.redfish_config:
    category: Systems
    command: SetBiosAttributes
    bios_attributes: "{{ _bios_attributes_ }}"
    baseuri: "{{ _baseuri_ }}"
    username: "{{ _username_ }}"
    password: "{{ _password_ }}"
  #     auth_token: "{{ result.session.token }}"
  register: bios_attribute
  notify:
    - Reboot system to apply new BIOS settings
