---
# tasks file for powerforceoff
- name: Turn system power off
  community.general.redfish_command:
    category: Systems
    command: PowerForceOff
    baseuri: "{{ _baseuri_ }}"
    username: "{{ _username_ }}"
    password: "{{ _password_ }}"
